﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.initial-hide {
    display: none;
}

.msg-panel {
    width: 500px;
    height: 50px;
    background-color: #468846;
    border: 2px solid #000;
    margin: 5px;
    text-align: center;
    padding: 10px;
    color: #efc67b
}

#mainContent {
    background-color: #fff;
    text-align: center;
}