﻿@model MessageViewViewModel

@{
    ViewBag.Title = "Home Page";
}

<div id="mainContent"></div>


@section scripts
{
    <script type="text/javascript">

        var messageData = (function() {

            var messageArray = [];

            @foreach (var msg in Model.Messages)
            {
                <text>messageArray.push('@msg')</text>
            }

            return {
                messages: messageArray
            };

        }());

    </script>
}
